
<h2>
    <a href="{{ path('sdz_user_view', {'id': user.id}) }}">{{ user.username }}</a>
</h2>

<div class="well">
    Id: {{ user.id }} <br>
    Nom: {{ user.username }} <br>
    Email: {{ user.email }}
</div>
